@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 style="display: flex; justify-content: center;">
    <img src="~/images/PlateTime-Logo.svg" alt="PlateTime Logo" style="width:120px; height:120px;">
</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>@ViewData["Title"]</h4>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign in with Facebook</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign in with Google</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</button>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</button>
                </div>


                
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
