@model PlateTimeApp.Models.PlateTime

@{
    ViewData["Title"] = "Create";
}

<h3 class="text-center text-primary font-weight-bold">PlateTime</h3>
<h4 class="text-center"><i class="fas fa-utensils"></i></h4>
<h4 class="text-center text-primary">Create</h4>
<hr />

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning text-center" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="RestaurantGoerId" class="control-label"></label>
            <select asp-for="RestaurantGoerId" class="form-control" asp-items="ViewBag.RestaurantGoerId"></select>
        </div>*@
            @if (ViewBag.isRestaurant == null)
            {
                <div class="form-group">
                    <label asp-for="RestaurantId" class="control-label">Restaurant</label>
                    <select asp-for="RestaurantId" class="form-control" asp-items="ViewBag.RestaurantId"></select>
                </div>
            }

            @*<button type="button" id="setTime" class="btn btn-outline-dark btn-lg btn-block" asp-for="Time"><i class="far fa-calendar-check"></i> Set Date and Time</button>*@

            <div class="form-group" id="timeInput">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxMembers" class="control-label"></label>
                <input asp-for="MaxMembers" class="form-control" />
                <span asp-validation-for="MaxMembers" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Isopen" class="control-label"></label>
            <input asp-for="Isopen" class="form-control" />
            <span asp-validation-for="Isopen" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AllCommitted" class="control-label"></label>
            <input asp-for="AllCommitted" class="form-control" />
            <span asp-validation-for="AllCommitted" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <div class="btn-group  btn-group-justified">
                    <div class="btn-group">
                        <input type="submit" value="Create" class="btn btn-warning" />
                    </div>
                    <div class="btn-group">
                        <a asp-action="Index" class="btn btn-info">Back to List </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
