@{
    ViewData["Title"] = "Home Page";
}

<h1 style="display: flex; justify-content: center;">
    <img src="~/images/PlateTime-Logo.svg" alt="PlateTime Logo" style="width:120px; height:120px;">
</h1>

<br/>

<p>A social app for matching people with similar interests, availabilities and food preferences to come out for a meal.</p>
<p>Join a PlateTime today!</p>
